.string {
    color: rgb(167, 5, 216);
}

.number {
    color: #24D616;
}

.boolean {
    color: #ff00ff;
}

.array, 
.object, 
.separator {
    color: black;
}

.separator {
    display: inline;
}

.key {
    color: green;
}

.line,
.arrayElement {
    margin-left: 30px;
}

.animate {
    
}

.code {
    font-size: 1.4rem;
}

.toggleViewButton,
.toggleViewButton:focus {
    border-radius: 5px;
    border: 1px black solid;
}

.toggleViewButton {
    width: 20px;
    height: 20px;
}