.string {
    color: rgb(167, 5, 216);
}

.number {
    color: #24D616;
}

.boolean {
    color: #ff00ff;
}

.array, .object, .separator {
    color: black;
}

.separator {
    display: inline;
}

.key {
    color: green;
}

.line {
    margin-left: 30px;
}

.code {
    font-size: 1.4rem;
}