.string {
    color: #a705d8;
}

.number {
    color: #24D616;
}

.boolean {
    color: #ff00ff;
}

.array, 
.object, 
.separator {
    color: #000000;
}

.separator {
    display: inline;
}

.key {
    color: #008000;
}

.line,
.arrayElement {
    margin-left: 30px;
}

.null {
    color: #FF0000;
}

.code {
    font-size: 1.4rem;
}

.toggleViewButton {
    border-radius: 5px;
    border: 1px #000000 solid;
    outline: none;
     width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}